<script src="https://code.iconify.design/iconify-icon/2.1.0/iconify-icon.min.js"></script>
<script src="https://diadz.instatus.com/en/d9e89fe9/widget/script.js"></script>
<script async src="https://offen.benni18957.de/script.js" data-account-id="e4b305ca-3c05-430a-86f5-f50d359178ab"></script>

<link
rel="stylesheet"
href="/css/animista.css"
/>
<link
rel="stylesheet"
href="/css/animate.min.css"
/>

<script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r121/three.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vanta@latest/dist/vanta.cells.min.js"></script>
